<?xml version="1.0" encoding="utf-8"?>
      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" ></meta>
        <meta http-equiv="Expires" content="0" />
        <title>play/views/package.scala</title>
        <script type="text/javascript" src="../../jquery-all.js"></script>
        <script type="text/javascript" src="../../linked.js"></script>
        <link rel="stylesheet" type="text/css" href="../../style.css" title="Style"></link>
    </head>
    <body>
        <pre>

<span class="comment">/**
 * Contains ready to use built-in templates and template helpers.
 */</span>
<span class="keyword">package</span> <span class="keyword">object</span> <a title="object views.package" id="21304">views</a>

<a href="#21305" title="object views.package" class="keyword">package</a> views <span class="delimiter">{</span>

  <span class="comment">/**
   * Contains ready to use built-in templates and template helpers for html templates.
   */</span>
  <span class="keyword">package</span> <span class="keyword">object</span> <a title="object views.html.package" id="21317">html</a>

  <span class="comment">/**
   * Contains ready to use built-in templates and template helpers for text templates.
   */</span>
  <span class="keyword">package</span> <span class="keyword">object</span> <a title="object views.txt.package" id="21752">txt</a>

  <span class="comment">/**
   * Contains ready to use built-in templates and template helpers for xml templates.
   */</span>
  <span class="keyword">package</span> <span class="keyword">object</span> <a title="object views.xml.package" id="21759">xml</a>

<a href="#21760" title="object views.xml.package" class="delimiter">}</a>
        </pre>
    </body>
</html>